<div
  class="h-screen bg-hero bg-cover flex justify-center content-center items-center"
>
  <div
    class="h-500 w-500 bg-purple-100 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-60 border border-gray-100"
  >
    <div class="h-500 flex flex-col justify-center justify-items-center">
      <h2 class="text-4xl text-pink font-normal flex justify-center">
        Check Password Strength
      </h2>
      <br />
      <form [formGroup]="passwordForm" class="flex flex-col items-center">
        <div class="form-group flex flex-col items-center">
          <div class="flex flex-row items-center">
            <input
              type="password"
              class="form-control w-40 p-1.5 bg-transparent border-b-2 border-gray-100 outline-none"
              autocomplete="off"
              placeholder="Password"
              formControlName="password"
              type="{{ isPasswordVisible ? 'text' : 'password' }}"
            />
            <button (click)="togglePasswordVisibility()">
              <img
                class="h-6 w-6 bg-white rounded-xl border border-white"
                src="assets/img/visibility.png"
                alt="visibility button"
              />
            </button>
          </div>
          <app-password-check-strength
            [passwordToCheck]="passwordForm.value.password"
          ></app-password-check-strength>
        </div>
        <button
          type="submit"
          class="w-40 bg-white text-pink rounded-md border border-white"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
